#cv-res-div {
  display: block;
  width: 80%;
}

#cv-res-items-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 1000px;
}

#cv-res-frame {
  height: "100%";
  width: "100%";
}

.cvres_icons {
  margin: 0 .4em;
  font-size: 0.8em;
}

@media only screen and (max-width: 1200px) {
  #cv-res-div {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  #cv-res-items-div {
    height: 750px;
  }
}

@media only screen and (max-width: 720px) {
  #cv-res-items-div {
    height: 460px;
  }
}

@media only screen and (max-width: 610px) {
  #cv-res-items-div {
    justify-content: center;
    margin: 0;
  }
}