#cv-res-div {
  display: block;
  width: 80%;
}

#cv-res-items-div {
  width: fit-content;
  margin: 0 auto;
}

#cv-res-frame {
  height: "100%";
  width: "100%";
}

.cvres_icons {
  margin: 0 .4em;
  font-size: 0.8em;
}

/* PDF width effects */

#cv_full {
  display: flex;
}

#cv_medium {
  display: None;
}

#cv_sm_med {
  display: none;
}

#cv_small {
  display: None;
}

@media only screen and (max-width: 1200px) {
  #cv-res-div {
    width: fit-content;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  #cv_full {
    display: None;
  }

  #cv_medium {
    display: flex;
  }

  #cv_sm_med {
    display: none;
  }

  #cv_small {
    display: None;
  }
}

@media only screen and (max-width: 670px) {
  #cv_full {
    display: None;
  }

  #cv_medium {
    display: none;
  }

  #cv_sm_med {
    display: flex;
  }

  #cv_small {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #cv_full {
    display: None;
  }

  #cv_medium {
    display: none;
  }

  #cv_sm_med {
    display: none;
  }

  #cv_small {
    display: flex;
  }
}
