@font-face {
    font-family: Chivo;
    src: url(../fonts/Chivo/Chivo-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: Chivo;
    src: url(../fonts/Chivo/Chivo-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: Roadrage;
    src: url(../fonts/Road_Rage/RoadRage-Regular.ttf);
    font-style: normal;
}
