#news-list {
  list-style-type: none;
  padding: 0 4px;
}

ul#news-list li {
  margin: 24px 8px;
}

ul#news-list li strong {
  font-weight: bold;
}

ul#news-list li a {
  color: var(--accent);
}


@media only screen and (max-width: 1020px) {
  ul#news-list li {
    font-size: 0.85em;
  }
 }

 @media only screen and (max-width: 540px) {
  ul#news-list li {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 450px) {
  ul#news-list li {
    font-size: 0.7em;
  }
}

