#research-div {
  display: block;
  width: 80%;
}

.publication {
  display: flex;
  margin-bottom: 1em;
}

.year {
  /*font-family: 'Courier New', Courier, monospace;
  font-weight: bold;*/
  width: 4em;
}

.publication p {
  margin: 0;
}

.title {
  font-weight: bold;
}

.location {
  font-style: italic;
  color: dimgrey;
}

.authors {
  color: dimgray;
}

.authors b {
  color: black;
  font-weight: normal;
}

.links a {
  font-size: 0.65em;
  color: var(--accent) !important;
}

.publication>div>.title {
  font-weight: 575;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  #research-div {
    width: 100%;
  }
 }